<!-- @zone - hightlighted -->

  <!--Showshow-->
  <div class="container slider-container">
    <div class="row">
      <div class="col-md-12 slider-left">
        <section class="flexslider-wrapper">
          <div id="main-slider" class="flexslider" data-transition="fade" data-page-class="slider-full-width">
            <div class="slides">

            <div data-slide-alt="alt" data-slide-bg-stretch=true class="slide slide-bg" data-slide-bg="https://www.solodev.com/assets/flexslider/slide1.jpg">
            <div class="slide-caption">
            <div class="row">
            <div class="col-md-12">
            <div class="slide-text">
            <div class="slide-title">This is Slide #1</div>
            This is text for the first slide.
            </div>
            </div>
            </div>
            </div>
            </div>

            <div data-slide-alt="alt" data-slide-bg-stretch=true class="slide slide-bg" data-slide-bg="https://www.solodev.com/assets/flexslider/slide2.jpg">
            <div class="slide-caption">
            <div class="row">
            <div class="col-md-12">
            <div class="slide-text">
            <div class="slide-title">This is Slide #2</div>
            This is text for the second slide.
            </div>
            </div>
            </div>
            </div>
            </div>

            <div data-slide-alt="alt" data-slide-bg-stretch=true class="slide slide-bg" data-slide-bg="https://www.solodev.com/assets/flexslider/slide3.jpg">
            <div class="slide-caption">
            <div class="row">
            <div class="col-md-12">
            <div class="slide-text">
            <div class="slide-title">This is Slide #3</div>
            This is text for the third slide.
            </div>
            </div>
            </div>
            </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<!-- end Showshow-->