{% extends 'base.html' %}
{% load static %}


{% block content %}
<style>
  .text{
    color: #787878;
    margin-top: 15px;
  }
</style>

<div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <h4 class="font-weight-bold mb-0">About</h4>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card position-relative">
                <div class="card-body">
                  <p class="card-title">Nigerian Police vision and mission</p>
                  <div class="row ">
                    <div class="col-12  d-flex flex-column justify-content-center">
                    <div>
                      <span class="col-3">
                        <img src="{% static 'images/police-1.png' %}">
                      </span>

                    <div>

                        <div class="text about_bg">
                          <p class="card-title">VISION STATEMENT</p>
                          <p>To make Nigeria safer and more secure for economic development and growth; to create a safe and secure environment for everyone living in Nigeria.</p>
                          <p class="card-title">MISSION STATEMENT</p>
                          <ol>
                            <li>To partner with other relevant Security Agencies and the public in gathering, collating and sharing information and intelligence with the intention of ensuring the safety and security of the country</li>
                            <li>To participate in efforts aimed at addressing the root causes of crime while ensuring that any criminal act is investigated so as to bring the criminals to justice in a fair and professional manner</li>
                            <li>To engender an efficient, effective, well-trained and highly motivated workforce, with deliberate efforts aimed at improving the capacity and welfare of all officers and men of the Force</li>
                            <li>To build a people’s friendly Police Force that will respect and uphold the fundamental rights of all citizens.</li>
                            <li>To build a gender sensitive and gender friendly Police Force that will give equal opportunity to female Police Officers, while at the same time respecting their peculiarities</li>
                          </ol>
                          <p class="card-title">VALUES</p>
                          <span>Working together with people irrespective of religious, political, social or economic affiliations to:</span>
                          <p>Deliver quality police service that is accessible to the generality of the people.</p>
                          <p>Build a lasting trust in the police by members of the public.</p>
                          <p> Protect and uphold the rights of persons, to be impartial and respectful in the performance of Police duties.</p>
                          <p>Continuously evaluate and improve Police services.</p>
                          <p> Provide equal opportunities for career developments for all members of the force.</p>
                          <p> Cooperate with all relevant government Agencies and other stakeholders.</p>
                          <p> Liaise with the Ministry of Police Affairs and the Police Service Commission to formulate and implement policies for the effective policing of Nigeria.</p>                          
                          <p class="card-title">CODE OF CONDUCTS AND PROFESSIONAL STANDARDS FOR POLICE OFFICERS.</p>
                          <p>To achieve the Mission and Visions as well as imbibe the values illustrated above, it is expedient to formulate a Code of Conduct for all Police officers employed into the Service of the Nigeria Police Force. The code will be regarded as an accountability code that will apply to all officers (irrespective of rank) and will reflect International conventions for Law Enforcement Agents, the provisions of sections 353-368 of Part XV of the Police Act (cap 359) and other relevant Force Orders as well as Public Service Rules.</p>
                          <p>The purpose of having a code of conduct is to provide all members for the Nigeria Police Force with a set of guiding principles and standards of behaviour while on or off-duty. It is intended to be used by Police officers in determining what is right and proper in all their actions. The code should set an outline which every member of the Force can easily understand. It will enable Policemen to know what type of conduct by a Police officer is right and what is wrong. The code will encompass the following:</p>
                          <p>Primary Responsibilities of a Police Officer – A police officer acts as an official representative of government who is required and trusted to work within the law. The officer’s powers and duties are conferred by statute. The fundamental duties of a police officer include serving the community, safeguarding lives and property, protecting the innocent, keeping the peace and ensuring the rights of all to liberty, equality and justice</p>
                        </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        
      </div>

{% endblock %}


