{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <h4 class="font-weight-bold mb-0">Admin Officers</h4>
                </div>
              </div>
            </div>
          </div>
                
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card position-relative">
                <div class="card-body">
                  <p class="card-title">Registered Users</p>
                  <div class="row">
                    <div class="col-md-12 col-xl-3 d-flex flex-column justify-content-center">
                      
                      <table class=table>
                            <tr>
                              <td>First Name:</td><td>{{ profile.first_name }}</td>
                            </tr>
                            <tr>
                              <td>Middle Name:</td><td>{{ profile.last_name }}</td>
                            </tr>
                            <tr>
                              <td>Last Name:</td><td>{{ profile.last_login }}</td>
                            </tr>
                            <tr>
                              <td>Username:</td><td>{{ profile.username }}</td>
                            </tr>
                            <tr>
                              <td>Email:</td><td>{{ profile.email }}</td>
                            </tr>
                            <tr>
                              <td>Police Id:</td><td>{{ profile.policeprofile.police_id }}</td>
                            </tr>
                            <tr>
                              <td>Phone Number:</td><td>{{ profile.policeprofile.phone_number }}</td>
                            </tr>
                            <tr>
                              <td>Nationality:</td><td>{{ profile.policeprofile.nationality}}</td>
                            </tr>
                            <tr>
                              <td>State:</td><td>{{ profile.policeprofile.state }}</td>
                            </tr>
                            <tr>
                              <td>City:</td><td>{{ profile.policeprofile.city }}</td>
                            </tr>


                         </table>   
                            
                       

                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        
      </div>

{% endblock %}


